@font-face {
    font-family: 'amalfi_coastregular';
    src: url('../fonts/amalfi_coast-webfont.woff2') format('woff2'),
         url('../fonts/amalfi_coast-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}