body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

p, a, h1, h2, h3 {
    color: rgb(20, 20, 20);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#pageBlock {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1249px) {

    /* Menu de nav */

    .navContainerSmall {
        display: none;
    }

    .navContainer {
        width: 90%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid rgb(20, 20, 20);
    }

    .navContainer nav {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
        position: relative;
    }

    .navContainer nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .navBlockA {
        position: absolute;
        left: 0%;
    }

    .navBlockA a {
        font-family: 'amalfi_coastregular', Arial, Helvetica, sans-serif;
    }

    .navBlockB {
        position: relative;
        width: 40%;
    }

    .navBlockA a:hover, .navBlockB a:hover, .navBlockC a:hover {
        color: rgb(75, 75, 75);
    }

    .navBlockC {
        position: absolute;
        right: 0%;
    }
}

/* Homepage */

.homepageBlock {
    display: flex;
    flex-wrap: wrap;
}

.homepageBlockLeft {
    width: 75%;
    height: 500px;
    display: flex;
}

.homepageArticleImg {
    background: url('../img/alaska-glacier.jpg');
    background-position-x: 50%;
    height: 100%;
    width: 70%;
}

.homepageArticle {
    background-color: rgb(216, 216, 216);
    height: 100%;
    width: 30%;
    position: relative;
}

.homepageArticleBlock {
    background-color: white;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    position: absolute;
    contain: content;
}

.homepageArticleBlock-content {
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    position: absolute;
}

.homepageArticleNav {
    display: flex;
    justify-content: space-between;
}

.homepageArticleNav li {
    width: 10%;
    height: 4px;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}

li[class="homepageArticleNav-li active"] {
    background-color: black;
}

.homepageArticleBlock-content p {
    height: 50%;
}

.homepageArticleBlock-content a {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a .linkBorder {
    width: 0;
    height: 2px;
    background-color: rgb(20, 20, 20);
    margin-top: 4px;
    transition: all .3s;
}

a:hover .linkBorder {
    width: 100%;
}

.homepageBlockRight {
    width: 25%;
    position: relative;
}

.homepageWhoAmI {
    background-color: rgb(216, 216, 216);
    height: 320px;
    position: absolute;
    left: 20px;
    right: 0;
}

.homepageWhoAmIBlock {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    position: absolute;
    contain: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.homepageWhoAmIBlock h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.homepageWhoAmIBlock img {
    width: 120px;
    border-radius: 50%;
}

.homepageWhoAmIBlock p {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.homepageSocialNetworks {
    background-color: rgb(20, 20, 20);
    position: absolute;
    left: 20px;
    right: 0;
    bottom: 0;
    height: 160px;
    display: flex;
    flex-direction: column;
}

.homepageSocialNetworks h2 {
    color: white;
    margin-top: 0;
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
    right: 20px;
}

.homepageSocialNetworksBlock {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
}

.homepageSocialNetworksBlock a {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepageSocialNetworksBlock a:hover img {
    width: 90%;
    height: 90%;
}

.homepageSocialNetworksBlock img {
    width: 100%;
    height: 100%;
    transition: all .1s;
}

.lastComSeparator {
    background-color: rgb(20, 20, 20);
    width: 100%;
    height: 2px;
    margin-top: 40px;
}

.homepageBlockCom {
    width: 100%;
    margin-top: 40px;
    position: relative;
    margin-bottom: 60px;
}

.homepageBlockCom h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.lastCom {
    display: flex;
    margin-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.lastComImg {
    width: 70px;
}

.lastComImg img {
    width: 100%;
    border-radius: 50%;
}

.lastComContentBlock {
    width: 95%;
    padding-left: 20px;
}

.lastComContent {
    margin-top: 0;
    margin-bottom: 0;
}

.lastComName {
    font-weight: bold;
    margin-top: 0;
}

.lastComInfos {
    margin-bottom: 0;
    font-style: italic;
}

/* Articles */

.articlepageBlock {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.articleBlock {
    height: 250px;
    margin-bottom: 20px;
    display: flex;
}

.articleImg {
    height: 100%;
    width: 35%;
    overflow: hidden;
}

.articleImg img {
    width: 100%;
}

.articleDscBlock {
    background-color: rgb(216, 216, 216);
    height: 100%;
    width: 65%;
    position: relative;
}

.articleDsc {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 20px 20px 15px 20px;
}

.articleDsc h2, .articleDsc p {
    margin: 0;
}

.articleDscLinkBlock {
    display: flex;
    justify-content: flex-end;
}

.articleDscLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Chapitre */

.chapitreTitle {
    width: 100%;
    text-align: center;
}

.chapitreContentBlock {
    margin-top: 40px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.chapitreImg {
    width: 100%;
    height: 400px;
    background: url('../img/alaska-glacier.jpg');
    background-position-x: 50%;
    background-position-y: 20%;
}

.chapitreDsc {
    background-color: rgb(216, 216, 216);
    width: 100%;
    display: flex;
    justify-content: center;
}

.chapitreDscContent {
    background-color: white;
    margin: 30px 30px 30px 30px;
    padding: 20px 20px 15px 20px;
}

.chapitreDscContent p {
    margin: 0;
}

.backToArticles {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end
}

.backToArticles a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Who am I */

.whoTitle {
    width: 100%;
    text-align: center;
}

.whoContentBlock {
    margin-top: 40px;
    display: flex;
    width: 70%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.whoImgBlock {
    background-color: rgb(216, 216, 216);
    width: 40%;
    margin-top: 60px;
    position: relative;
}

.whoImgBlock p {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    font-family: 'amalfi_coastregular', Arial, Helvetica, sans-serif;
}

.whoImg {
    background-color: rgb(216, 216, 216);
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.whoImg img {
    width: 100%;
    margin: 20px 20px 20px 20px;
    border-radius: 50%;
}

.whoDscBlock {
    background-color: rgb(216, 216, 216);
    width: 60%;
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whoDsc {
    background-color: white;
    padding: 20px;
    margin: 30px 30px 30px 30px;
}

.whoDsc p {
    margin: 0;
}