@media screen and (max-width: 1596px) {

    /* Homepage */

    .homepageBlockLeft {
        height: 620px;
    }

    .homepageArticleBlock-contentFlex .homepageOverview {
        max-height: 378px;
    }

    .homepageArticleImg {
        width: 60%;
    }

    .homepageArticle {
        width: 40%;
    }

    .homepageWhoAmI {
        height: 450px;
    }

    .homepageWhoAmIBlock img {
        width: 160px;
    }

    .homepageSocialNetworksBlock {
        width: 80%;
    }

    .homepageSocialNetworks {
        height: 150px;
    }

    .homepageSocialNetworksBlock a {
        width: 40px;
    }

    /* Chapitres */

    .articleImg {
        width: 30%;
    }

    .articleImg img {
        width: auto;
        height: 100%;
    }

    .articleDscBlock {
        width: 70%;
    }

    /* Who am I */

    .whoContentBlock {
        width: 100%;
    }
}

@media screen and (max-width: 1248px) {

    #pageBlock {
        transition: all .5s;
        margin-top: 50px;
    }

    /* Menu de nav */

    .navContainer {
        display: none;
    }

    .navContainerSmall {
        width: 100%;
        height: 60px;
        position: relative;
        top: 0;
    }

    .navContainerSmall nav {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 100%;
    }

    .navContainerSmall nav ul {
        padding: 0;
        background-color: white;
    }

    .navBackgroundSmall {
        background-color: white;
        border-bottom: 2px solid black;
        position: absolute;
        z-index: 997;
        width: 100%;
        height: 100%;
    }

    .navClickZone {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
        cursor: pointer;
    }

    .navBlockASmall {
        height: 100%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 998;
    }

    .navLogoSmall {
        display: flex;
        align-items: center;
    }

    .navLogoSmall span {
        font-family: 'amalfi_coastregular', Arial, Helvetica, sans-serif;
    }

    .navButtonSmall {
        display: flex;
        align-items: center;
    }

    .navBlockBSmall {
        margin-top: 2px;
        margin-bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: all .5s;
    }

    .navBlockBSmall li {
        border-bottom: 1px solid rgb(187, 187, 187);
        height: 50px;
    }

    .navBlockBSmall li a {
        display: flex;
        justify-content: center;
    }

    .navBlockBSmall li p {
        width: 90%;
    }

    .navDisplay {
        display: none;
    }

    .navHide {
        margin-top: -202px;
    }

    /* Homepage */

    .homepageBlock {
        flex-direction: column;
    }

    .navOpen {
        margin-top: 254px !important;
    }

    .homepageBlockLeft {
        width: 100%;
        height: 760px;
        flex-direction: column;
    }

    .homepageArticleImg {
        width: 100%;
        height: 450px;
    }

    .homepageArticle {
        width: 100%;
        height: 350px;
    }

    .homepageBlockRight {
        width: 100%;
        margin-top: 20px;
    }

    .homepageArticleBlock-contentFlex {
        height: 80%;
    }

    .homepageWhoAmI {
        left: 0;
        position: relative;
        width: 100%;
        height: 270px;
    }

    .homepageWhoAmIBlock img {
        width: 125px;
    }

    .homepageSocialNetworks {
        left: 0;
        position: relative;
        width: 100%;
        margin-top: 20px;
    }

    .homepageSocialNetworksBlock {
        width: 50%;
    }

    /* Articles */

    .articleBlock {
        flex-direction: column;
    }

    .articleImg, .articleDscBlock {
        width: 100%;
    }

    .articleImg {
        overflow: hidden;
        height: 50%;
    }

    .articleImg img {
        height: auto;
        width: 100%;
        margin-top: -10%;
    }

    .articleDscBlock {
        height: 50%;
    }

    /* Who am I */

    .whoTitle {
        width: 100%;
    }

    .whoContentBlock {
        flex-direction: column;
        width: 100%;
    }

    .whoImgBlock {
        width: 100%;
        margin-top: 0;
    }

    .whoImg {
        background-color: white;
        margin-top: 30px;
        width: 200px;
    }

    .whoImg img {
        margin: 3px 3px 3px 3px;
    }

    .whoImgBlock p {
        position: relative;
    }

    .whoDscBlock {
        margin-top: 0;
        width: 100%;
    }

    /* Chapitre */

    .chapitreTitle {
        width: 100%;
    }

    .chapitreContentBlock {
        width: 100%;
    }

    /* Espace Perso / Administration */
    
    .loginForm {
        width: 100%;
    }

    .espacePersoBlockInfo {
        padding: 0;
    }

    .espacePersoBlockNav, .espacePersoBlockNavUsers {
        display: none;
    }

    .espacePersoBlockNavMobile {
        display: flex;
        flex-wrap: wrap;
        height: 104px;
        margin-bottom: 40px;
    }

    .espacePersoBlockNavMobile div {
        width: 33.3%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NavMobileUsers div {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .espacePersoBlockNavMobile a {
        background-color: white;
        width: 98%;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(143, 143, 157);
        text-align: center;
    }

    .espacePersoBlockNavMobile a:hover {
        color: rgb(75, 75, 75);
    }

    .manageArticlesBlock li, .manageUsersBlock li, .manageComsBlock li {
        flex-direction: column;
    }

    .editArticleLinks, .manageComLinks, .flag {
        margin-top: 10px;
    }
}

@media screen and (max-width: 620px) {

    /* Accueil */

    .lastCom, .com {
        width: 100%;
    }

    /* Chapitres */

    .articleImg {
        height: 40%;
    }

    .articleImg img {
        margin-top: 0;
    }

    .articleDscBlock {
        height: 60%;
    }

    .articleDscContent {
        height: 78%;
    }

    .articleBlock {
        width: 100%;
    }

    /* Espace Perso / Administration */

    .loginBlock, .registerBlock {
        width: 100%;
    }

    .espacePersoBlockNavMobile {
        height: 300px;
    }

    .NavMobileUsers {
        height: 200px;
    }

    .espacePersoBlockNavMobile div {
        width: 100%;
    }

    .comDate {
        white-space: nowrap;
    }

    .articleFormInput {
        width: 99%;
    }

    #articleForm #title {
        width: 97%;
    }
}

@media screen and (max-width: 513px) {

    /* Homepage */

    .homepageBlockLeft {
        height: 895px;
    }

    .homepageArticleBlock-contentFlex {
        height: 85%;
    }

    .homepageArticle {
        height: 445px;
    }

    .homepageWhoAmIBlock img {
        width: 100px;
    }

    .homepageSocialNetworksBlock {
        width: 65%;
    }
}